@media (max-width:1024px){
    #Titulo{
}
}

@media (max-width:430px){
    
    .Body´{
        font-size:0.7rem;
        background-color: red;

    }
    #Titulo{
        border-radius:20px;
        background-color: red;
    

    }
    #enlaces{
        display:flex;
        justify-content: space-around;
        padding:10px;

    }
    .s1{
        border-top:2px solid gray;
        padding-bottom:10px;
    }
    .s1 :nth-child(2){
        text-align:center;
    }
    .Autor{
        display:flex;
        justify-content: flex-start;
    }
    .Autor2{
        text-align: center;
        width:50%;
    }
    @zeus{
        width:90%;
    }
    
}
